@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

html, body, #root {
    min-height: 100%;
}

body, input, button {
    font-weight: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
